services:
  backend:
    build: ./mproj
    ports:
      - "8000:8000"
    volumes:
      - ./mproj:/app
    pid: "host"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
