#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
    padding-bottom: 15px;
}

@media screen and (width >= 600px) {
    .mainContainer {
        display: block;
        column-gap: 20px;
        column-count: 2;
    }
}

@media screen and (width >= 1200px) {
    .mainContainer {
        display: block;
        column-gap: 20px;
        column-count: 3;
    }
    .chartsContainer {
        display: block;
        column-gap: 20px;
        column-count: 2;
    }
}

.ModalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #2a2a2a;
  color: #e0e0e0;
  border-radius: 2px;
  border: 1px solid #444;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
